# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Build/
Builds/
Logs/

# ===================================== #
# Visual Studio / Rider / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
/*.userprefs
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.tmp
/*.user
/*.userosscache
/*.booproj
/*.pidb
/*.svclog
/*.dotCover

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =============== #
# User specific  #
# =============== #
# Add your own files here you don't want to commit. For example:
# *.bak
